@use "../../variables.modules" as *;

i {
  padding-left: 0.5rem;

  &.red {
    color: $red;
  }

  &.amber {
    color: $yellow;
  }

  &.green {
    color: $green;
  }
}

.terminal {
  p, li {
    margin: 1rem 0;
    color: $white;
  }

  a, a:visited {
    animation: changeColors 3s infinite;
    font-weight: bolder;
  }
}

@keyframes changeColors {
  0% {
    color: #34ba9b;
  }
  33.3% {
    color: #145a8c;
  }
  66.6% {
    color: #d052ec;
  }
  100% {
    color: #02f8be;
  }
}