/* Styling for the contact form container */
.contact-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 60px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the contact form header */
.contact-header {
  font-size: 36px;
  margin-bottom: 90px;
  // color: #333;
}

/* Styling for form fields */
.contact-label {
  font-size: 24px; /* Increase label font size */
  margin-bottom: 90px; /* Increase margin */
  color: #333;
}

.contact-input {
  width: 100%;
  padding: 15px; /* Increase padding for larger input fields */
  font-size: 20px; /* Increase font size for input fields */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 45px; /* Increase margin */
}

/* Styling for error messages */
.contact-error {
  color: #ff0000;
  font-size: 18px; /* Increase font size for error messages */
  margin-top: 20px;
}

/* Styling for the send message button */
.contact-button {
  // background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px; /* Increase font size for the button */
  padding: 25px 50px; /* Increase padding for the button */
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.contact-button:hover {
  background-color: #16651a;
}
