@use "../variables.modules" as *;

nav {
  transition: $transition;
}

.active {
  border-bottom: 5px solid;
  border-image-slice: 1;
  font-weight: bold;
}

li {
  transition: $transition;

  &:hover {
    transform: translateY(-3px);
    transition: $transition;
  }
}

.link:hover {
  color: unset;
}